doctype html
html
    head
    body
        div(data-form="spitik_" data-id="").main
            .meta(style="color: #8a2be2")
                img(src="https://creepy-corp.eu/twitch-avatar?login=spitik_").avatar
                span.name SpiTik_
                span.badges
                    img(src="https://static-cdn.jtvnw.net/badges/v1/5d9f2208-5dd8-11e7-8513-2ff4adfae661/1").badge.subscriber-icon
                    img(src="https://static-cdn.jtvnw.net/badges/v1/bbbe0db0-a598-423e-86d0-f9fb98ca1933/1").badge.premium-icon
            .message you always think that...some one cool aleluja halo ako sa mas ? vole ako sa mas ? co robis bude dnes coding

        .objects
            .circle(style="width:200px;height:200px;background:#E52498;animation-delay: 10s;animation-duration: 120s;")
            .circle(style="width:100px;height:100px;background:#E5AF24;animation-delay: 0s;animation-duration: 140s;margin-left:-30px")
            .circle(style="width:60px;height:60px;background:#7361E2;animation-delay: 15s;animation-duration: 200s;margin-left:-50px")
            .circle(style="width:100px;height:100px;background:#E26161;animation-delay: 20s;animation-duration: 70s;margin-left:-10px")
            .circle(style="width:300px;height:300px;background:#61E2DB;animation-delay: 5s;animation-duration: 230s;margin-left:0")
