* {
    margin: 0;
    padding: 0;
}

body {
    height: 800px;
    overflow: hidden;
}

div.main {
    margin: 10px 50px;
    position: relative;
    z-index: 2;
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(96.91deg, #9795a48c 2.31%, rgb(53 48 99 / 54%) 99.51%);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;

    div.meta {
        position: relative;
        height: 50px;
        width: 100%;

        img.avatar {
            width: 50px;
            border-radius: 100%;
            float: left;
        }

        span.name {
            position: relative;
            font-weight: bold;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 20px;
            font-size: 24px;
            margin-right: 20px;
            float: left;
        }

        span.badges {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            float: left;

            img.badge {
                width: 20px;
                padding: 2px;
            }
        }
    }

    div.message {
        width: 100%;
        text-shadow: 1px 1px 2px #00000047;
        padding: 10px 5px;
        font-size: 15px;
        color: #fff;
    }
}

div.objects {
    position: absolute;
    top: 0;
    z-index: 1;

    div.circle {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: orange;
        border-radius: 100%;
        float: left;
        animation-name: up;
        animation-iteration-count: infinite;
    }
}

@keyframes up {
    0% {
        top: 1000px;
    }

    100% {
        top: -400px;
    }
}